<div class="container">
  <table>
    <tr>
      <td>Countries</td>
      <td>
        <label ng-repeat="(entry, selected) in country.data" class="table-text">{{ entry }}<input type="checkbox" ng-model="country.data[entry]" ng-change="selectCountry(entry, country.data[entry])"></label>
      </td>
      <td><label class="table-text all">All<input type="checkbox" ng-model="countryAll.selected" ng-change="selectAllCountries(countryAll.selected)"></label></td>
    </tr>
    <tr>
      <td>Devices</td>
      <td>
        <label ng-repeat="(entry, selected) in device.data" class="table-text">{{ entry }}<input type="checkbox" ng-model="device.data[entry]" ng-change="selectDevice(entry, device.data[entry])"></label>
      </td>
      <td><label class="table-text all">All<input type="checkbox" ng-model="deviceAll.selected" ng-change="selectAllDevices(deviceAll.selected)"></label></td>
    </tr>
  </table>
  <table class="testers">
    <tr>
      <td>Last Name</td>
      <td>First Name</td>
      <td>Country</td>
      <td>Devices</td>
      <td>Bugs Filed</td>
    </tr>
    <tr ng-repeat="tester in testersMatched | orderBy:'-bugsFiled'" class="table-text">
      <td>{{tester.lastName}}</td>
      <td>{{tester.firstName}}</td>
      <td>{{tester.country}}</td>
      <td>
        <div class="device" ng-repeat="(device, bugsFiled) in tester.devices">{{device}}: {{bugsFiled}}</div>
      </td>
      <td>{{tester.bugsFiled}}</td>
    </tr>    
  </table>
</div>
