<div class="container">
  <table>
    <tr>
      <td>Countries</td>
      <td>
        <label ng-repeat="(country, selected) in countries.data" class="table-text">{{ country }}<input type="checkbox" ng-model="countries.data[country]" ng-change="select('country', country, countries.data[country])"></label>
      </td>
      <td><label class="table-text all">All<input type="checkbox" ng-model="countryAll.selected" ng-change="selectAll('country', countryAll.selected)"></label></td>
    </tr>
    <tr>
      <td>Devices</td>
      <td>
        <label ng-repeat="(device, selected) in devices.data" class="table-text">{{ device }}<input type="checkbox" ng-model="devices.data[device]" ng-change="select('device', device, devices.data[device])"></label>
      </td>
      <td><label class="table-text all">All<input type="checkbox" ng-model="deviceAll.selected" ng-change="selectAll('device', deviceAll.selected)"></label></td>
    </tr>
  </table>
  <table class="testers">
    <tr>
      <td>Last Name</td>
      <td>First Name</td>
      <td>Country</td>
      <td>Devices</td>
      <td>Bugs Filed</td>
    </tr>
    <tr ng-repeat="tester in testersMatched | orderBy:'-bugsFiled'" class="table-text">
      <td>{{tester.lastName}}</td>
      <td>{{tester.firstName}}</td>
      <td>{{tester.country}}</td>
      <td>
        <div class="device" ng-repeat="(device, bugsFiled) in tester.devices">{{device}}: {{bugsFiled}}</div>
      </td>
      <td>{{tester.bugsFiled}}</td>
    </tr>    
  </table>
</div>
