h1 {
  text-align: center;
  color: #4291CC;
}

table {
  width: 100%;
  border: 1px solid #E0E0DB;
  border-collapse: collapse;
  margin-bottom: 10px;
}

label {
  display: inline-block;
  margin: 5px;
}

input {
  margin-left: 4px;
}

td {
  border: 1px solid #E0E0DB;
  padding: 8px 8px 0;
}

.table-text {
  color: #575757;
}

.all {
  width: 40px;
}

.device{
  margin-bottom: 3px;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
